body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../images/Rockpool header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  line-height: 1.5;
  padding: 200px 0;
  text-align: center;
}

header h1 {
  font-size: 96px;
  font-weight: 700;
}

header h2 {
  font-size: 40px;
  font-weight: 400;
}

header h3 {
  opacity: 1;
  font-size: 24px;
  font-weight: 900;
}

header a {
  background: white;
  color: #0c3736;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 3px;
  margin-top: 32px;
  padding: 16px 32px;
  text-decoration: none;
}

h2,
h3,
h4,
h5,
p {
  margin: 10px 0;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 24px;
  opacity: 0.6;
  text-align: center;
  text-transform: uppercase;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 16px;
}

p {
  font-size: 18px;
}

section {
  padding: 75px;
}

footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../images/Sydney\ footer.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 100px;
}

footer a {
  color: white;
  line-height: 24px;
  opacity: 0.8;
}

footer h3 {
  opacity: 1;
  text-align: left;
}

footer li {
  list-style: none;
}

footer p {
  line-height: 24px;
  opacity: 0.8;
}

footer ul {
  padding: 0;
}

img {
  height: 100%;
  width: 100%;
}

.primary h3 {
  text-align: left;
}

.btn {
  background-color: #0c3736;
  color: white;
  display: block;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 1.5;
  padding: 16px;
  text-align: center;
  text-decoration: none;
}

.card {
  background-color: white;
  margin: 30px 0;
}

.card-header img {
  aspect-ratio: 1 /1;
}

.card-body {
  padding: 30px;
}

.card-footer {
  padding: 0 30px 30px;
}

.embed {
  aspect-ratio: 16 / 9;
  width: 100%;
}

.gallery h2 {
  text-align: center;
}

.grid {
  display: grid;
  grid-gap: 20px;
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}

.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-footer {
  grid-template-columns: 1fr 2fr 2fr;
}

.music {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.tertiary h2 {
  text-align: center;
}

.text-center {
  text-align: center;
}

.photo-gallery {
  display: grid;
  grid-gap: 10px;
  margin: 40px auto;
  width: 1000px;
}

.opacity {
  opacity: 0.4;
  transition: all 100ms ease-in-out;
}

.opacity:hover {
  opacity: 1;
}

.secondary {
  background-color: #f0f0f0;
}

.secondary h2,
.secondary h3 {
  text-align: center;
}

.tertiary {
  background-color: #f0f0f0;
}

#bushwalking {
  grid-column: 1 / 3;
  grid-row: 3 / 5;
}

#kayaking {
  grid-column: 3 / 6;
  grid-row: 4 / 5;
}

#park {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

#sunset {
  height: 600px;
}

#sup {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}

#surfing {
  grid-column: 3 / 4;
  grid-row: 2 / 4;
}

#swimming-hole {
  grid-column: 4 / 6;
  grid-row: 1 / 4;
}

@media (max-width: 960px) {
  header {
    line-height: 1;
    padding: 60px 0;
  }

  header h1 {
    font-size: 48px;
  }

  header h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 12px;
  }

  header a {
    font-size: 7px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 16px;
  }

  h5 {
    font-size: 13px;
  }

  p {
    font-size: 16px;
  }

  section {
    padding: 30px;
  }

  footer {
    padding: 25px;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  .opacity {
    margin: 5px auto;
    opacity: 1;
  }

  .photo-gallery {
    display: block;
    width: 100%;
  }
}
