body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../images/Rockpool header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  line-height: 1.5;
  padding: 200px 0;
  text-align: center;
}

header h1 {
  font-size: 96px;
  font-weight: 700;
}

header h2 {
  font-size: 40px;
  font-weight: 400;
}

header h3 {
  font-size: 24px;
  font-weight: 900;
}

header a {
  background: white;
  color: #272044;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 3px;
  margin-top: 32px;
  padding: 16px 32px;
  text-decoration: none;
}

section {
  padding: 100px;
}

footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../images/Sydney\ footer.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 100px;
}

footer a {
  color: white;
  line-height: 24px;
  opacity: 0.8;
}

footer li {
  list-style: none;
}

footer p {
  line-height: 24px;
  opacity: 0.8;
}

footer ul {
  padding: 0;
}

.grid {
  display: grid;
  grid-gap: 20px;
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}

.grid-footer {
  grid-template-columns: 1fr 2fr 2fr;
}

#rockpools {
  max-width: 100%;
}

@media (max-width: 960px) {
  header {
    line-height: 1;
    padding: 60px 0;
  }

  header h1 {
    font-size: 48px;
  }

  header h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 12px;
  }

  header a {
    font-size: 7px;
  }

  footer {
    padding: 25px;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  section {
    padding: 30px;
  }
}
